<form method="POST" action="" class="my-4 mt-4">
  <div class="form-group">
    <label for="search-input">Keywords: </label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Enter your keywords">
  </div>
  <div class="form-group">
  <label for="sel1">Courses</label>
  <select name="txtCourse" class="form-control" id="">
    <option>Front End</option>
    <option>Back End Java</option>
    <option>NodeJS</option>
    <option>Full Stack</option>
  </select>
</div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>